@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    min-width: 1200px;
}

.container{
    max-width: 1160px;
    margin: 0 auto;
}

header{
    background-image: url(../yegorkaimg/2JNuwi.png);
    background-size: cover;
    width: 100%;
    height: 1012px;
    margin-bottom: 8px;
}
/* .header__container{
    height: 226px;
    background: rgba(94, 93, 88, 0.6);
} */
.navbar{
    display: flex;
    justify-content: space-between;
}
.header__list{
    display: flex;
    align-items: center;
}
.header__item a{
    margin-right: 21px;
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #fff;
text-decoration: none;
text-transform: uppercase;
}
.header__item a:hover{
  color: #de3508;
  padding-bottom: 46px;
    border-bottom: 2px solid #de3508;
}
.header__content{
    margin-top: 264px;
    text-align: center;
}
.header__content h3{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 35px;
color: #000;
text-transform: uppercase;
margin-bottom: 22px;
}
.header__content h3 span{
    color: #de3508;
}
.header__content h1{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 78px;
color: #fff;
text-transform: uppercase;
margin-bottom: 22px;
}
.header__content h2{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 34px;
color: #000;
margin-bottom: 134px;
}
.header__content div{
    display: inline-flex;
}
.header__content div a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    border-top: 5px solid #fff;
    padding: 15px 30px;
    color: #fff;
    background: #000;
    border-radius: 5px;
}
.header__content div a:first-child{
    margin-right: 26px;
    padding: 16px 18px;
    background: #de3508;
}

.options__grid{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 90px;
}
.options__item{
background: #1C2A33;
font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 24px;
color: #fff;
text-transform: uppercase;
text-align: center;
padding-top: 87px;
padding-bottom: 105px;
background-color: #de3408;
}
.options__item h3{
    margin-top: 48px;
}
.type3 {
    background-image: url(../image/Ancients.png);
  
  }
  .type1{
      background-image: url(../image/f1b5f59c8bb8b21cdfc0f0edb2dff0bc_large_cover.353735-CDB096-8CAAAB.jpeg);
      width:100%;
  }
  .type4 {
      background-image: url(../image/pic-20201225-3840x2160-5289185289.jpeg);
  }
.type2{
    padding-top: 98px;
    
    background-image: url(../image/Ancients.png);
    color: #fff;
}
.type2 h3{
margin-top: 58px;
}
.heading{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 36px;
line-height: 40px;
color: #4E4E4E;
text-align: center;
margin-bottom: 20px;
}
.line{
    width: 79px;
height: 1px;
background: #de3508;
border: none;
}
.second{
    margin-left: 553px;
}
.lines{
    margin-bottom: 69px;
    margin-top: 24px;
}
.our-services{
 margin-bottom: 91px;   
 
}
.tabs{
    
 margin-bottom: 170px;
    list-style:none;
    cursor:pointer;
  }
  .tab{
    float:left;
    border: 1px solid #F2F2F2;
    padding: 15px 39px 15px 39px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15.9859px;
line-height: 39px;
color: #717171;

  }
  .tab:hover{
    border: 1px solid #de3508;
  }
  .tab.active {
    background-color: #de3508;
    color: #fff;
  }
  .output{
    clear:both;
   
  }
  .section {
    display: none;
    margin-top: 23px;
  }
  .section.active {
    display: block;
  }

.our-services__content{
    display: flex;
    
}

.our-services__content img{
    /* width: 192px; */
height: 139px;
}
.our-services__content p{
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 13.645px;
line-height: 24px;
color: #777777;
margin-left: 15px;
}
.purchase{
    background: url(../yegorkaimg/wallpapersden.com_void-spirit-dota-2.png);
    background-size: cover ;
    height: 476px;
   
}
.purchase__content{
    text-align: center;
    padding-top: 127px;
}
.purchase__content h1{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 40px;
color: #FFFF;
text-transform: uppercase;
margin-bottom: 12px;
}
.purchase__content p{
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 40px;
color: #D8D8D8;
margin-bottom: 70px;
}
.purchase__content a{
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 32px;
    text-transform: uppercase;
    text-decoration: none;
    border: 5px solid #ffff;
    padding: 16px 11px;
    color: #fff;
    background: palevioletred;
    border-radius: 5px;
    
}
.purchase__content a:hover{
filter: brightness(30%);
color: purple;
background-color: rgba(0, 0, 0, 0.0001);
}


.our-work__section{
    
background: #E9EDEF;
padding-top: 96px;
padding-bottom: 99px;
margin-bottom: 82px;
}
.our-work__list{
    display: flex;
    
}
.our-work__list li{
    
    border: 1px solid #F2F2F2;
    padding: 13px 15px;
    font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 15.9859px;
border: 1px solid #DADADA;
line-height: 39px;
color: #717171;
}
.our-work__list li:first-child{
    padding: 14px 27px;
}
.our-work__content{
    margin-top: 71px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
}
.post{
   max-width:285px;
    max-height: 206px;
}
.content__hover{
    display: none;
    padding-top: 42px;
    text-align: center;
    border-top: 1px solid #de3508;
    width: 285px;
height: 162.5px;
background: #E9EDEF;
}
.fa-stop-circle{
    width: 43px;
height: 43px;
}
.link {
    display: inline-block;
    width: 41px;
height: 40px;
text-align: center;
    border: 1px solid #de3508;
border-radius: 30px;
}
.link img{
    margin-top: 12px;
}
.design{
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14.1771px;
line-height: 25px;
text-transform: uppercase;
color: #de3508;
text-align: center;
margin-top: 23px;
}
.web{
    
font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 12.1518px;
line-height: 25px;
text-align: center;
}
.post:hover .content__img{
display: none;
}
.post:hover .content__hover{
    display: block;
}
.content__img{
    width: 285px;
height: 206px;
}
.button{
    text-align: center;
    margin-top: 70px;
}
.add-more-btn{
    width: 168px;
height: 63px;
background: #de3508;
border: 1px solid transparent;
border-radius: 5px;
text-align: center;
cursor: pointer;
}
.button__img{
    width: 18px;
height: 19px;
margin-right: 15px;
}
#js-add-more-btn {
    font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 14px;
line-height: 42px;
color:  #FFFFFF;
text-transform: uppercase;
}
.posts{
padding-top: 50px;
    margin-bottom: 129px;
}
.news__posts{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 69px;
  
}
.news__post{
    display: block;
    text-decoration: none;
    color: #fff;
    width: 265px;
height: 281px;
margin-bottom: 44px;

}
.news__post:hover{
    filter: brightness(50%);
}
.news__post:hover .date{
    background: purple; 
    
    
}
.news__post:hover >h3{
    color: purple;
}
.post__img{
   
    background: url(../yegorkaimg/techie.jpg);
    height: 208px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-2{
    background: url(../yegorkaimg/ember-spirit.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-3{
    background: url(../yegorkaimg/lina.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-4{
    background: url(../yegorkaimg/shadow-fiend.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-5{
    background: url(../yegorkaimg/tinker.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-6{
    background: url(../yegorkaimg/arc-warden.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-7{
    background: url(../yegorkaimg/meepo.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-8{
    background: url(../yegorkaimg/puck.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/* carry */
.post-9{
    background: url(../yegorkaimg/slark.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.post-10{
    background: url(../yegorkaimg/monkey-king.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-11{
    background: url(../yegorkaimg/terrorblade.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-12{
    background: url(../yegorkaimg/sven.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-13{
    background: url(../yegorkaimg/juggernaut.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-14{
    background: url(../yegorkaimg/gyrocopter.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.post-15{
    background: url(../yegorkaimg/anti-mage.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-16{
    background: url(../yegorkaimg/faceless-void.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
/* pos 3 */
.post-17{
    background: url(../yegorkaimg/magnus.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-18{
    background: url(../yegorkaimg/sand-king.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.post-19{
    background: url(../yegorkaimg/tidehunter.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-20{
    background: url(../yegorkaimg/pangolier.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-21{
    background: url(../yegorkaimg/batrider.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-22{
    background: url(../yegorkaimg/beastmaster.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-23{
    background: url(../yegorkaimg/earthshaker.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}
.post-24{
    background: url(../yegorkaimg/axe.jpg);
       background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
}

.date{
    width: 70px;
height: 68px;
background: black;
font-family: Montserrat;
font-style: normal;
font-weight: normal;
font-size: 25px;
line-height: 25px;
text-align: center;
border-radius: 16px;
}
.date>h3:first-child{
padding-top: 10px;
}
.news__post>h3{
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 17.9885px;
    line-height: 39px;
color: #717171;
    text-align: center;
}
.news__post>h4{
    font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 13.991px;
line-height: 39px;
color: #777777;
text-align: center;
}
.people{
    padding-top: 98px;
    background: url(../image/Layer\ 333.jpg);
    background-size: cover;
}
.people h2{
color: #fff;
}
.people_shape img {
    text-align: center;
    border: none;
    display: block;
    margin: 66px auto;
  }
  
  .people_say_text {
    display: none;
    text-align: center;
  }
  
  .people_say_text.active {
    display: block;
  }
  
  .people_say_text p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #bbbbbb;
  }
  
  .people_say_text p:last-child {
    font-size: 14px;
  }
  
  .people_say_text h3 {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 27px;
    text-transform: uppercase;
    color: #de3508;
    margin: 37px 0px 10px;
  }
  
  .people_say_text img {
    margin-top: 50px;
    width: 171px;
    height: 166px;
  }
  
  .people_say_scroll {
    display: flex;
    justify-content: center;
  }
  
  .people_say_scroll_face {
    height: 60px;
    width: 60px;
    margin-right: 20px;
    margin-top: 45px;
    transition: margin 0.25s ease;
    margin-bottom: 100px;
    cursor: pointer;
  }
  
  .people_say_scroll_face.active {
    margin-top: 30px;
  }
  
  .people_say_scroll_face:last-child {
    margin-right: 0px;
  }
  
  .btn--scroll {
    height: 30px;
    width: 30px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #bbbbbb;
    margin: 60px 35px 15px 15px;
    text-decoration: none;
    cursor: pointer;
  }
  
  .btn--scroll:hover {
    background: #de3508;
    border: 1px solid #de3508;
  }
  
  .btn--scroll p {
    font-size: 42px;
    margin-left: 3px;
    margin-top: -6px;
    color: #bbbbbb;
  }

  .footer{
    background: #22353F;
    background-size: cover;
    height: 121px;
    text-align: center;
  }
  .footer h3{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 26px;
    color: #AEAEAE;
padding-top: 47px;
  }
  .footer h3 span{
      color: #de3508;
  }

  .footer a{
      font-size: 30px;
    text-decoration: none;
    color: #FFFFFF;
  }
  .footer a:hover {
      filter:brightness(500%);
      color:orange;

  }
  .footer a:active {
    filter:brightness(10%);
  }




/* 
  .popup__bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    opacity: 0; 
    pointer-events: none; 
    transition: 0.5s all;
}

.popup__bg.active { 
    opacity: 1; 
    pointer-events: all; 
    transition: 0.5s all;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    background: #fff;
    width: 400px;
    padding: 25px;
    transition: 0.5s all;
}

.popup.active { 
    transform: translate(-50%, -50%) scale(1);
    transition: 0.5s all;
}

.close-popup {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.popup label {
    width: 100%;
    margin-bottom: 25px;
    display: flex;
    flex-direction: column-reverse;
}

.popup .label__text {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #cfd0d3;
    margin-bottom: 5px;
}

.popup input {
    height: 45px;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
}

.popup input:focus {
    border-bottom: 1px solid #2982ff;
}

.popup input:focus + .label__text {
    color: #2982ff;
}

.popup textarea {
    resize: none;
    width: 100%;
    height: 150px;
    border: none;
    outline: none;
    border-bottom: 1px solid #cfd0d3;
    font-size: 18px;
    padding-top: 5px;
}

.popup textarea:focus {
    border-bottom: 1px solid #2982ff;
}

.popup textarea:focus + .label__text {
    color: #2982ff;
}

.popup button {
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 18px;
    border: 2px solid #2982ff;
    background: #2982ff;
    cursor: pointer;
    text-transform: uppercase;
    transition: 0.5s all;
}

.popup button:hover {
    background: #fff;
    color:#2982ff;
    transition: 0.5s all;
} */